@use '../utils/mixins' as *;
@use '../utils/vars' as *;

.screenshot {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  @media ($largePhone) {
    flex-direction: row;
  }
  &__image {
    @include img();
    width: 100%;
    max-width: 35rem;
    align-self: center;
    @media ($largePhone) {
      width: 20rem;
      align-self: flex-start;
    }
  }
  &__text {
    position: relative;
    top: 0;
    @media ($largePhone) {
      top: -0.5rem;
    }
  }
  &__title {
    @include h3();
    margin-bottom: 1rem;
  }
  &__desc {
    @include p1();
    width: 100%;
  }
}
