html {
  font-size: 10px;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
  color: var(--primary-text-color);
}

.active {
  text-decoration: underline;
}

.active-form {
  box-shadow: var(--box-shadow);
}
