@use '../utils/vars' as *;

.todo {
  background-color: $primaryColor;
  color: $primaryTextColor;
  margin: auto;
  padding: 2.4rem;
  display: grid;
  gap: 2.4rem;
  border: 1px solid $borderColor;
  border-radius: 8px;
  box-shadow:
    0 4px 4px -4px rgba(12, 12, 13, 0.05),
    0 16px 32px -4px rgba(12, 12, 13, 0.1);
  width: 40.4rem;
  font-size: 1.6rem;
  &__title {
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 1.2;
    text-align: center;
  }

  &__form {
    display: flex;
    gap: 1.6rem;
    height: 4rem;
    position: relative;
    &:has(.todo__field:not(:placeholder-shown)) .todo__label {
      color: $primaryTextColor;
      transform: scale(0.7) translate(-3.7rem, -5.9rem);
    }
  }
  &__label {
    position: absolute;
    top: 50%;
    left: 1.8rem;
    transform: translateY(-50%);
    color: $notActiveTextColor2;
    transition: $transitionDuration;
  }
  &__field {
    padding: 1.2rem;
    padding-left: 1.6rem;
    border: 1px solid $borderColor;
    border-radius: 0.8rem;
    flex-grow: 1;
    height: 4rem;
    width: 100%;
    transition: $transitionDuration;
    outline: none;
    &:hover {
      border-color: $secondaryColor;
      box-shadow: 0 0 6px $borderColor;
    }
    &:focus-visible {
      border-color: $secondaryColor;
      box-shadow: 0 0 6px $borderColor;
    }
  }

  &__add-btn {
    padding: 0 1.2rem;
    border-radius: 0.8rem;
    background-color: $secondaryColor;
    color: $backgroundColor;
    border: none;
    cursor: pointer;
    transition-duration: $transitionDuration;
    &:hover {
      opacity: $opacity;
    }
  }

  &__search-field {
    padding-right: 3.3rem;
  }
  &__search-btn {
    border: none;
    padding: 0;
    background-color: transparent;
    background-image: url(../../icons/search.svg);
    background-repeat: no-repeat;
    background-size: 1.6rem;
    background-position: center;
    height: 100%;
    width: 4rem;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    transition: $transitionDuration;
    &:hover {
      opacity: $opacity;
    }
  }

  &__info {
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    height: 2.2rem;
  }

  &__delete-all-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    transition: $transitionDuration;
    &:hover {
      opacity: $opacity;
      cursor: pointer;
    }
  }

  &__list {
    display: grid;
    gap: $gridGap;
  }

  &__empty-message {
    font-style: italic;
    color: $notActiveTextColor2;
    text-align: center;
    padding-bottom: 1rem;
  }

  &__list,
  &__empty-message {
    &:empty {
      display: none;
    }
  }
}
