@use '../utils/vars' as *;

.todo-item {
  display: flex;
  gap: 1.2rem;
  min-height: 4.6rem;
  border-radius: 0.8rem;
  border: 1px solid $borderColor;
  align-items: center;
  padding: 1.2rem 1rem;
  &__checkbox {
    appearance: none;
    width: 2rem;
    height: 2rem;
    position: relative;
    flex-shrink: 0;
    border-radius: 0.4rem;
    border: 1px solid $secondaryColor;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &::after {
      content: '';
      width: 1.6rem;
      height: 1.6rem;
      background-image: url(../../icons/check.svg);
      background-repeat: no-repeat;
      position: absolute;
      transition: transform 300ms;
      transform: scale(0);
    }
    &:hover {
      filter: drop-shadow(0 0 6px $secondaryColor);
    }
    &:checked::after {
      transform: scale(1);
    }
    &:checked {
      background-color: $secondaryColor;
    }
  }
  &__text {
    flex-grow: 1;
    line-height: 2rem;
    cursor: default;
    padding-right: 4.6rem;
    &_active {
      text-decoration: line-through;
    }
  }
  &__close {
    background-image: url(../../icons/close.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
  }
}
