@use '../utils/vars' as *;

.todo {
  background-color: $primaryColor;
  color: $primaryTextColor;
  margin: auto;
  padding: 2.4rem;
  display: grid;
  gap: 2.4rem;
  border: 1px solid $borderColor;
  border-radius: 8px;
  box-shadow:
    0 4px 4px -4px rgba(12, 12, 13, 0.05),
    0 16px 32px -4px rgba(12, 12, 13, 0.1);
  width: 40.4rem;
  font-size: 1.6rem;
  &__title {
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 1.2;
    text-align: center;
  }

  &__form {
    display: flex;
    gap: 1.6rem;
    height: 4rem;
    position: relative;
  }
  &__field {
    padding: 1.2rem;
    padding-left: 1.6rem;
    border: 1px solid $borderColor;
    border-radius: 0.8rem;
    flex-grow: 1;
    height: 4rem;
    width: 100%;
  }

  &__add-btn {
    padding: 0 1.2rem;
    border-radius: 0.8rem;
    background-color: $secondaryColor;
    color: $backgroundColor;
    border: none;
    cursor: pointer;
    &:hover {
      background-color: $secondaryColorLighter;
    }
  }

  &__search-field {
    padding-right: 4rem;
  }
  &__search-btn {
    background-color: transparent;
    border: none;
    background-image: url(../../icons/search.svg);
    background-repeat: no-repeat;
    background-size: 1.6rem;
    background-position: center;
    height: 100%;
    width: 4rem;
    position: absolute;
    padding: 0;
    right: 0;
    top: 0;
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
  }

  &__info {
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    height: 2.2rem;
  }

  &__delete-all-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    &:hover {
      opacity: 0.7;
      cursor: pointer;
    }
  }

  &__list {
    display: grid;
    gap: 0.8rem;
  }
}
