@use '../utils/vars' as *;
@use '../utils/mixins' as *;

.features {
  @include section($primaryGrayColor);
  &__title {
    @include h2();
    margin-bottom: 3rem;
  }
  &__items {
    display: grid;
    gap: 1rem;
    @media ($tablet) {
      grid-template-columns: 1fr 1fr;
      gap: 3rem 2rem;
    }
  }
}
