// colors
$primaryColor: #445162;
$whiteColor: #fff;
$primaryGrayColor: #f5f5f5;
$secondaryGrayColor: #ebebeb;
$textColor: #333333;
$authorTextColor: #989898;

// fonts
$primaryFont: Arial, sans-serif;
$iconFont: 'socialico';

// screen

$largePhone: 'min-width: 576px';
$tablet: 'min-width: 767px';
$laptop: 'min-width: 1024px';
