@use './utils' as *;

// Colors
$gray950: hsl(0, 0%, 17%);
$gray400: hsl(0, 0%, 58%);

// Screen
$large-phone: 'min-width: 576px';
$tablet: 'min-width: 767px';
$laptop: 'min-width: 1023px';
$desktop: 'min-width: 1440px';

html {
  font-size: 10px;
}

body {
  font-family: 'Rubik';
  font-weight: normal;
  font-size: 1.8rem;
  background-color: whitesmoke;
  height: 100vh;
  overflow: hidden;
}

.finder {
  background-image: url(../images/pattern-bg-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 2rem;
  height: 27rem;
  @media ($tablet) {
    background-image: url(../images/pattern-bg-desktop.png);
    padding: 5rem 3rem;
    gap: 4rem;
  }
  &__title {
    font-size: 3rem;
    color: white;
  }
}

.search-bar {
  display: flex;
  max-width: 50rem;
  width: 100%;
  border-radius: 1.5rem;
  transition: 0.2s;
  outline: 1px solid transparent;
  &_active {
    outline-color: $gray950;
    box-shadow: 0 0 3px black;
  }
  &:hover {
    outline-color: $gray950;
    box-shadow: 0 0 3px black;
  }
  &_error {
    box-shadow: 0 0 10px darkred;
  }
  &__field {
    flex-grow: 1;
    height: 5rem;
    border-radius: 1.5rem 0 0 1.5rem;
    border: 1px solid $gray400;
    outline: none;
    padding: 1rem 2rem;
  }
  &__btn {
    background-color: black;
    border: none;
    background-image: url(../images/icon-arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 0 3rem;
    border-radius: 0 1.5rem 1.5rem 0;
    &:hover {
      opacity: 0.88;
    }
  }
}

.info {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 100%;
  border-radius: 1.5rem;
  max-width: 110rem;
  gap: 2rem;
  box-shadow: 0 0 2px $gray950;
  z-index: 999;
  @media ($laptop) {
    margin-top: 2rem;
    flex-direction: row;
    gap: 1rem;
  }
  &__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 100%;
    gap: 1rem;
  }
  &__title {
    color: $gray400;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 1.4rem;
    font-weight: bold;
  }
  &__text {
    color: $gray950;
    font-weight: bold;
  }
}

#map {
  height: calc(100vh - 27rem);
}
