@use '../utils/vars' as *;

.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  &__icon {
    font-family: 'socialico';
    font-size: 6rem;
    line-height: 1;
    color: $whiteColor;
    text-decoration: none;
    &:hover {
      filter: brightness(0.9);
    }
  }
}
